body {
  font-family: roboto;
  color: white;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/pinkvenom.jpeg");
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px auto;
  margin: 0;
}
header h1 {
  font-family: Playfair Display;
  font-size: 150px;
  font-weight: 700;
  line-height: 1.5;
}
header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a,
.grid-4-columns a {
  font-weight: 600;
  font-size: 16px;
  line-height: 6;
  padding: 16px 32px;
  text-align: center;
  gap: 10px;
  text-transform: uppercase;
  background-color: black;
  color: #f588bb;
  text-decoration: none;
  border-radius: 100px;
}
main {
  background-color: black;
}
main img {
  max-width: 100%;
}
main h2 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
main h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 0;
}

main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
section {
  max-width: 100%;

  margin: 0 auto;
  padding: 100px;
}
section .secondary {
  background-image: url("../images/favsongs/thealbum.jpeg"), lightgray 50%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.text-center {
  text-align: center;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  margin-top: 50px;

  grid-template-columns: 1fr 1fr 1fr;
}
.grid-4-columns {
  grid-template-columns: 2fr 2fr;
  margin-top: 70px;
  margin-bottom: 80px;
}
.jisoo {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/members/jisoo.jpg");
}
.jennie {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/members/jennie.jpg");
}
.rose {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/members/rose.png");
}
.lisa {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)),
    url("../images/members/lisa.jpg");
}
.jisoo,
.jennie,
.rose,
.lisa {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 10px;

  border-radius: 16px;
  box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.2);
}
.card {
  background-color: white;
  margin: 30px 0;

  border-radius: 16px;
  box-shadow: 10px 10px 40px 0px rgba(7, 5, 20, 0.2);
}
.card-content {
  padding: 0 15px;
}
.card p,
.card h4,
.card h5 {
  color: black;
  opacity: 1;
}
.card img {
  border-radius: 15px 15px 0 0;
}
.card h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}
.card h5 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1;
  margin: 0;
}

.card a {
  display: flex;
  padding: 16px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 10px 10px;
  align-self: stretch;
  background-color: black;
  color: #f588bb;
  font-weight: bolder;
  border-radius: 100px;
}
.grid-footer {
  grid-template-columns: 4fr 4fr 3fr;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(0, 0, 0, 0.8)),
    url("../images/bp-footer1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h4 {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 13px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  .grid-2-columns img {
    display: none;
  }
  .members {
    grid-template-columns: 1fr;
  }
  .grid-2-columns h3,
  .grid-2-columns h2 {
    text-align: center;
  }
}
