body {
  font-family: roboto;
  color: white;
  background: radial-gradient(
    circle at 24.1% 68.8%,
    rgb(50, 50, 50) 0%,
    rgb(0, 0, 0) 99.4%
  );
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)),
    url("../images/pinkvenom.jpeg");
  background-position: center center;

  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px auto;
  margin: 0;
}
header h1 {
  font-family: Playfair Display;
  font-size: 128px;
  font-weight: 700;
  line-height: 1.5;
}
header h2 {
  text-align: center;
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
}
header a {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 3px;
  padding: 16px, 32px;
  text-transform: uppercase;
  background-color: black;
  color: #f588bb;
  text-decoration: none;
}
main {
  background-color: black;
}
main img {
  max-width: 100%;
}
main h2 {
  font-family: Playfair Display;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
}
main h3 {
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-transform: uppercase;
  opacity: 0.7;
  margin: 0;
}
main p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
section {
  max-width: 1100px;
  margin: 0 auto;
  padding: 100px;
}
.grid {
  display: grid;
  grid-gap: 64px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-footer {
  grid-template-columns: 4fr 4fr 3fr;
}
footer {
  color: white;
  background-image: linear-gradient(rgba(39, 32, 68, 0.9), rgba(0, 0, 0, 0.8)),
    url("../images/bp-footer1.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
footer h4 {
  font-family: Playfair Display;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
}
footer p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  opacity: 0.7;
}
footer ul {
  padding: 0;
}
footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}
footer a {
  color: white;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.7;
}
@media (max-width: 800px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 50px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 13px;
  }
  section {
    padding: 30px;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
  main img {
    display: none;
  }
}
